:root{
    --main-color: #c3eea7;
    --black: #13131a;
    --bg: #F2F2F2;
    --border: 0.1rem solid rgba(194, 217, 26);
    font-size: 10px;
}


*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize; /*todos os textos começam com letra maiuscula*/
    transition: 0.2s linear ;
    font-family: "Roboto", sans-serif;

}

body{
    background-color: var(--bg);
}

section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}



.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99; /*define quem fica na frente de quem, tipo camadas, e o header fica na primeira*/
    border-bottom: var(--border);
    background-color: var(--bg);
}

.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}


.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #738C16;
    text-decoration: none;



}

.navbar a:hover {
    color: #C2D91A;
    border-bottom: var(--border);
    padding-bottom: 0.5rem;
    font-size:2rem;
    text-decoration: none;
}
.icons {
    margin: 1rem;
    cursor: pointer;

}



.icons :hover{
    width: 40px;
    height: 40px;
}

.btn{
    background-color: #C2D91A;
    color: white;
    padding: 1rem 3rem; /*crescida em cima e embaixo// dos lados*/
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 2rem;

}
.btn:hover{
    background-color: #738C16;
}

.home-container{
    background: url("./imagens/salada1.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
    margin-top: 15rem;
    margin-left: 20rem;


}

.home-container section{
    display:flex;
    align-items: center;
    min-height: 100vh;

}




.content h3{
    color: #738C16;
    font-size: 6rem;
    margin-right: 50rem;
    margin-top: -15rem;


}
.content p{
    color: #E07202;
    font-size: 2rem;
    font-weight: 300;
    margin-right: 50rem;
    padding: 1rem 0;
    line-height: 1.8;

}

.title{
    font-size: 4rem;
    color: #738C16;
    text-align: center;
    margin-bottom: 2rem;

}

.about .row{
    display: flex;
    align-items: center;
    gap: 3rem;
}


.about .row .content p{
    margin-right: 0; /* MUITO IMPORTANTE */
    text-align: justify;
    line-height: 1.8;
    font-size: 1.8rem;
}
.menu .box-container{
    display: grid; /*para organizar vários itens fica mais fácil*/
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr)); /*organização das colunas*/
    gap: 1.5rem;
}